<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">


	<display-name>Archetype Created Web Application</display-name>

	<!-- ::::::::::::: SE CONFIGURA SPRING EN EL CONTEXTO DEL WEB.XML Y SE CONFIGURA EL LISTENER :::::::::::::::: -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext-reportes.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 
	 <!-- :::::::::::: SE CONFIGURA EL SERVLET QUE RECIBIRA LAS PETICIONES HTTP DEL WEB SERVICE ::::::::::::::::: -->
	 
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.k1rard.tiendamusicalreportes.ws</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/k1rard/*</url-pattern>
	</servlet-mapping>
</web-app>
